{#
/**
 * @file
 * Koru Sidebar block template.
 *
 * Available variables:
 * - parent:  Link object [title, url, description, children] of current page's immediate parent menu item, if one exists.
 * - current_page: Link object [title, url, description, children] of current page menu item.
 *
 * @see \Drupal\koru_blocks\Plugin\Block\SidebarBlock::build()
 */
#}

  <div class="component sidebar-breadcrumb">
    <ul>
      <li>
        <a href="{{ url('<front>') }}" class="home"><i class="fa fa-home"></i>Home</a>
      </li>
      {% if parent %}
        <li>
          <a href="{{ parent.url }}"><i class="fa fa-bullseye"></i>{{ parent.title }}</a>
        </li>
      {% endif %}
      {% if current_page %}
      <li class="active">
        <a href="{{ current_page.url }}"><i class="fa fa-circle-o"></i><span>{{ current_page.title }}</span></a>
        {% if current_page.children %}
          <ul>
            {% for child in current_page.children %}
              <li><a href="{{ child.url }}"><i class="fa fa-circle"></i><span>{{ child.title }}</span></a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
      {% endif %}
    </ul>
  </div>
